body {
  background-image: url("./images/abhishek-prasad-ii0oWs5abCo-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.headtext {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 10px;
  font-family: tahoma;
}

.headtext2 {
  color: rgb(79, 79, 79);
  font-size: 12px;
  margin-top: 5px;
  font-family: tahoma;
  text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.footercontainer {
  border-radius: 5px;
  display: flex;
  margin-left: 5%;
  animation: greenchange;
  animation-duration: 2s;
  background-color: rgba(78, 195, 100, 0.9);
}

@keyframes greenchange {
  from {
    background-color: rgb(0, 100, 0, 0);
  }
  to {
    background-color: rgba(78, 195, 100, 0.9);
  }
}
.container {
  width: 30%;
  cursor: pointer;
  padding-bottom: 60px;
  padding-left: 30px;
}
.container:hover {
  background-color: rgb(46, 237, 173);
}
.footer {
  margin: 5%;
  background-color: #04aa6d;
  width: 300px;
  height: 300px;
  animation: footer;
  animation-duration: 2s;
  opacity: 60%;
}
@keyframes footer {
  from {
    opacity: 0%;
  }
  to {
    opacity: 60%;
  }
}
